In [2]:
import pandas as pd

In [4]:
sales_df = pd.read_excel("../../data/cleaned_US_Regional_Sales_Data.xlsx")

In [6]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   Order Quantity    7991 non-null   int64
 9   Discount Applied  7991 non-null   float64
 10  Unit Price        7991 non-null   float64
 11  Unit Cost         7991 non-null   float64
 12  Customer Names    7991 non-null   object
 13  Product Name      7991 non-null   object
 14  Sales Team        7991 non-null   object
 15  City Name         7991 non-null   object
 16  Population        7991 non-null   int64
 17  Household Income  7991 non-null   int64
 18  Median Income     7991 non-null   int64
 19  State             7991 non-null   object
 20  Unit Profit       7991 non-null   float64
dtypes: datetime64[ns](4), float64(4), int64(4), object(9)
memory usage: 1.3+ MB